export PIPENV_VENV_IN_PROJECT=1
export GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=1
export GRPC_PYTHON_BUILD_SYSTEM_ZLIB=1

use flake

if [ -e "${PWD}/.venv" ] && pipenv --venv ; then
  echo "VirtualEnv exists"
else
  echo "VirtualEnv doesn't exist, creating..."
  pipenv sync
fi;

layout pipenv
